Magic 271485
Revision Verdi3_I-2014.03

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 30 3840 924 298 110

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / -e interfacePort "" "/home/gongyf/project/PIM/pecell/fsdb/my_case20_000.fsdb"

openDirFile -d / -e interfacePort "" "/home/gongyf/project/PIM/pecell/fsdb/my_case21_000.fsdb"

openDirFile -d / -e interfacePort "" "/home/gongyf/project/PIM/pecell/fsdb/my_case22_000.fsdb"

openDirFile -d / -e interfacePort "" "/home/gongyf/project/PIM/pecell/fsdb/my_case23_000.fsdb"

openDirFile -d / -e interfacePort "" "/home/gongyf/project/PIM/pecell/fsdb/my_case24_000.fsdb"

openDirFile -d / -e interfacePort "" "/home/gongyf/project/PIM/pecell/fsdb/my_case25_000.fsdb"

openDirFile -d / -e interfacePort "" "/home/gongyf/project/PIM/pecell/fsdb/my_case26_000.fsdb"

openDirFile -d / -e interfacePort "" "/home/gongyf/project/PIM/pecell/fsdb/my_case27_000.fsdb"

openDirFile -d / -e interfacePort "" "/home/gongyf/project/PIM/pecell/fsdb/my_case28_000.fsdb"

openDirFile -d / -e interfacePort "" "/home/gongyf/project/PIM/pecell/fsdb/my_case29_000.fsdb"

openDirFile -d / -e interfacePort "" "/home/gongyf/project/PIM/pecell/fsdb/my_case2_000.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; active file:
activeDirFile "" "/home/gongyf/project/PIM/pecell/fsdb/my_case2_000.fsdb"

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1ns

; waveform viewport range
zoom 196614.544187 207910.943453 1n
cursor 7256.000000
marker 7256.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 27

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByRising


aliasmapname pe_cell_contrl.cur_state
nalias WRITE_MEM		3'b010		NULL
nalias PIM_MEM		3'b100		NULL
nalias IDLE		3'b001		NULL

addGroup "G1"
activeDirFile "" "/home/gongyf/project/PIM/pecell/fsdb/my_case2_000.fsdb"
addSignal -h 15 /my_pecell_top/pe_cell_dut/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -UNSIGNED -UDEC -holdScope pe_id[6:0]
addGroup "G2"
addSignal -h 15 /my_pecell_top/pe_cell_dut/psel
addSignal -h 15 -holdScope penable
addSignal -h 15 -holdScope pwrite
addSignal -h 15 -UNSIGNED -HEX -holdScope paddr[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope pwdata[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope prdata[7:0]
addSignal -h 15 -holdScope pready
addGroup "G3"
addSignal -h 15 /my_pecell_top/pe_cell_dut/cs_n
addSignal -h 15 -holdScope cvalid
addSignal -h 15 -holdScope pe_busy
addSignal -h 15 -UNSIGNED -BIN -holdScope work_mode[1:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope waddr[4:0]
addSignal -h 15 -holdScope wdata_busy
addSignal -h 15 -holdScope wdata_valid
addSignal -h 15 -holdScope wdata_last
addSignal -h 15 -2COMP -UDEC -holdScope wdata[7:0]
addGroup "G4"
addSignal -h 15 /my_pecell_top/pe_cell_dut/rdata_valid
addSignal -h 15 -holdScope rdata_busy
addSignal -h 15 -2COMP -UDEC -holdScope rdata[7:0]
addSignal -h 15 -holdScope rdata_last
addGroup "G5"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/gongyf/project/PIM/pecell/fsdb/my_case2_000.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/my_pecell_top"

SCOPE_LIST_BEGIN
"/my_pecell_top"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


activeDirFile "" "/home/gongyf/project/PIM/pecell/fsdb/my_case2_000.fsdb"


